*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
:root{
    --pre_primary: #2E323F;
    --primary: #3B4050;
    --secondary: #6F737F;
    --prime-text: #A59678;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;*/

.container{
    width: 80%;
    margin: 0 auto;
}
button{
    visibility: hidden;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.logo_img{
    width: 50px;
}
.bg_div{
    background-color: var(--pre_primary);

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--secondary);
    
}
nav{
    display: flex;
}
.nav_items{
    display: flex;
    gap: 2em;
}
.nav_items:first-of-type{
    margin-right: 3em;
}
.nav__links{
    color: whitesmoke;
    padding: .3em 1em;

}
.nav__links:hover{
    background-color: var(--prime-text);
    color: white;
    padding: .3em 1em;
    border-radius: 20px;
}
.bg_head{
    background-color: var(--primary);
    padding: 2em 0;
}
.head{
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 3em 0;

}
.prime_text{
    color: var(--prime-text);
}
.title{
    font-size: 3rem;
    margin-right: 2em;
    width: 50%;
}
.description .text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}
.description{
    margin-top: auto;
    margin-bottom: 5em;
    width: 50%;
}
.btn{
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: var(--pre_primary);
    border: 0;
    border-radius: 30px;

    font-size: 1.5rem;
    padding: .3em 1em;
}
.btn:hover{
    background-color: var(--prime-text);
    padding: .3em 1em;
    border-radius: 30px;
}
.bg_sub_hero{
    background-color: rgb(238, 236, 236);
}
.sub__hero{
    padding: 6em 0;
    display: flex;
    gap: 6em;
    text-align: center;
}
.sub__hero--paras h2{
    font-family: 'Oswald', sans-serif;
    color: var(--prime-text);
}
.sub__hero--paras p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.sub__hero2{
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
}
.sub__hero2--img{
    width: 100%;
    margin-top: 2em;
}
.sub__hero2--left{
    width: 50%;
}
.sub__hero2--left div h2{
    font-family: 'Oswald', sans-serif;
    color: var(--prime-text);
    font-size: 2rem;
}
.sub__hero2--left div p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 2em;
}
.sub__hero2--tab{
    width: 30%;
}
.sub__hero2--tabs{
    background-color: var(--primary);
    padding: 2em;
    text-align: center;
}
.sub__hero2--tabs:first-of-type,
.sub__hero2--tabs:nth-of-type(2){
    margin-bottom: 2em;
}
.sub__hero2--tabs h2{
    font-family: 'Oswald', sans-serif;
    color: white;
}
.sub__hero2--tabs p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.bg_footer{
    background-color: var(--primary);
}
.footer__heading{
    margin-bottom: 3em;
}
.footer__heading h2{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: center;
}
.footer_container{
    padding: 3em 0;

}
.footer__details{
    display: flex;
    justify-content: space-between;
}
.footer__tabs{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.footer__tabs h2{
    color: var(--prime-text);
}
.footer__tabs p{
    color: white;
    font-weight: 100;
}
.footer__tabs a{
    font-weight: 100;
}
.footer__tabs--one{
    width: 20%;
    gap: 0;
}
.footer__links{
    display: flex;
    justify-content: space-between;
    gap: 5em;

}
.footer__tabs .nav__links{
    padding: 0;
}
@media only screen and (max-width: 1000px){
   .nav__items{
    gap: 1em;
   }
   .nav__links{
    font-size: 1rem;
    padding: .3em .5em;
   }
   .nav_items:first-of-type{
    margin-right: 1em;
    }
   
    .head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
    }
    .title{
        font-size: 2rem;
        margin: 0;
        width: 60%;
    }
    .description{
        width: 60%;
    }
    .description .text{
        font-size: 1.5rem;
    }

    .sub__hero2{
        flex-direction: column;
    }
    .sub__hero2--left{
        width: 100%;
        margin-bottom: 4em;
    }
    .sub__hero2--tab{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .sub__hero2--tabs:first-of-type,
    .sub__hero2--tabs:nth-of-type(2){
        margin-bottom: 0;
        margin-right: 2em;
    }
    .footer__details{
        flex-direction: column;
        margin: 0 auto;
    }
    .footer__tabs--one{
        width: 80%;
        margin: 0 auto;
        gap: 0;
    }
    .footer__links{
        margin: 0 auto;
        gap: .5em;
        width: 80%;
    }
}
@media only screen and (max-width: 850px) {
    
    .nav__items{
        gap: .5em;
       }
       .nav__links{
        font-size: 1rem;
       }
    .nav_items:first-of-type{
        margin-right: 0;
    }
    .sub__hero{
        flex-direction: column;
        gap: 2em;
    }
    
    .sub__hero2--tab{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .sub__hero2--tabs:first-of-type,
    .sub__hero2--tabs:nth-of-type(2){
        margin-bottom: 2em;
        margin-right: 0;
    }
    
    
    
    
}
@media only screen and (max-width: 720px) {
    .nav__links{
        font-size: .8rem;
    }
    .footer__tabs h2{
        font-size: 1rem;
    }
    .title{
        font-size: 1.3rem;
        width: 90%;
        margin: 0 auto;
    }
    .description{
        width: 90%;
    }
    .footer__tabs--one{
        width: 100%;
        margin: 0 auto;
        gap: 0;
    }
    .footer__links{
        margin: 0 auto;
        gap: .5em;
        width: 100%;
    }
    .btn{
        font-size: 1rem;
    }
    
}
@media only screen and (max-width: 650px) {
    button{
        visibility: visible;
    }
    .toggle{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .nav_toggle{
        border: 0;
        border-radius: 50%;
        background-color: var(--secondary);
        width: 3rem;
        height: 3rem;
        gap: 1px;
    }
    .nav_toggle:hover{
        cursor: pointer;
        opacity: .75;
    }
    .hamburger{
        width: 50%;
        position: relative;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after{
        display: block;
        margin: 0 auto;
        height: 3px;
        background-color: white;
    }
    .hamburger::before,
    .hamburger::after{
        content: "";
        width: 100%;
    }
    .hamburger::before{
        transform: translateY(-6px);
    }
    .hamburger::after{
        transform: translateY(3px);
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    .nav{
        visibility: hidden;

    }
    .nav--visible{
        visibility: visible;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }
   
    .nav_items{
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        gap: 1em;
    }
    
}